{% extends 'vehicle_type/base.html' %}
{% block body %}
    <h2>Operatørens vogntyper</h2>
    {% include 'vehicle_log/vehicle_type_list.html' with vehicles=operator.vehicles.all %}
    {% if unknown %}
        <h2>Ukjente vogner</h2>
        <table>
            <tr>
                <th>Internnummer</th>
                <th>Linje</th>
                <th>Avgangstid</th>
            </tr>
            {% for log in unknown %}
                <tr>
                    <td><a href="{% url 'logs:vehicle_log' vehicle_id=log.vehicle_ref %}">{{ log.vehicle_ref }}</a></td>
                    {% if log.line %}
                        <td><a href="{% url 'logs:line_log' line=log.line.id %}">{{ log.line }}</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ log.origin_departure_time }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}