<h2>Informasjon om vogntype</h2>
<table>
    <tbody>
    <tr>
        <th>Operatør</th>
        <td><a href="{% url 'logs:operator' prefix=vehicle.operator.vehicle_prefix %}">{{ vehicle.operator.name }}</a>
        </td>
    </tr>
    {% if vehicle.type %}
        <tr>
            <th>Modell</th>
            <td>{{ vehicle.type }}</td>
        </tr>
    {% endif %}
    {% if vehicle.length %}
        <tr>
            <th>Lengde</th>
            <td>{{ vehicle.length }}m</td>
        </tr>
    {% endif %}
    {% if vehicle.year %}
        <tr>
            <th>Årsmodell</th>
            <td>{{ vehicle.year }}</td>
        </tr>
    {% endif %}
    {% if vehicle.fuel %}
        <tr>
            <th>Drivstoff</th>
            <td>{{ vehicle.fuel }}</td>
        </tr>
    {% endif %}

    <tr>
        <th>Internnummer fra</th>
        <td>{{ vehicle.numlow }}</td>
    <tr>
        <th>Internummer til</th>
        <td>{{ vehicle.numhigh }}</td>
    </tr>
    {% if show_first_and_last %}
        <tr>
            <th>Først sett</th>
            <td>{{ vehicle.first_seen.origin_departure_time }} {{ vehicle.first_seen.line }}</td>
        </tr>
        <tr>
            <th>Sist sett</th>
            <td>{{ vehicle.last_seen.origin_departure_time }} {{ vehicle.last_seen.line }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>