{% extends 'vehicle_type/base.html' %}
{% load rutedata_tags %}
{% block body %}
    {% if vehicle %}
        {% include 'vehicle_log/vehicle_info.html' %}
        <br/><a href="{% url 'logs:vehicle_type' key=vehicle.id %}">Vis alle vogner av typen</a>
    {% else %}
        <a href="{% url 'logs:operator' prefix=prefix %}">Vis operatør</a>
    {% endif %}

    {% if logs.exists %}
        <h2>Sett p&aring; linjer</h2>
        {% for line in lines_seen.all %}
            <a href="{% url 'logs:line_log' line=line.id %}">{{ line }}</a><br/>
        {% endfor %}
        <h2>Avganger</h2>
        {% include 'vehicle_log/logs_table.html' with hide='vehicle' %}
    {% else %}
        <p>Ingen avganger registrert i år.<br/>Sist sett på linje {{ last_seen.line }}
            fra {{ last_seen.origin_quay_ref|quay_stop_name }} {{ last_seen.origin_departure_time }} </p>
    {% endif %}
{% endblock %}