{% extends 'vehicle_type/base.html' %}
{% load rutedata_tags %}
{% block body %}
    {% if vehicle %}
        <h2>Informasjon om vogn</h2>
        <table>
            <tbody>
            {% if vehicle.type %}
                <tr>
                    <th>Modell</th>
                    <td>{{ vehicle.type }}</td>
                </tr>
            {% endif %}
            {% if vehicle.length %}
                <tr>
                    <th>Lengde</th>
                    <td>{{ vehicle.length }}m</td>
                </tr>
            {% endif %}
            {% if vehicle.year %}
                <tr>
                    <th>Årsmodell</th>
                    <td>{{ vehicle.year }}</td>
                </tr>
            {% endif %}
            {% if vehicle.fuel %}
                <tr>
                    <th>Drivstoff</th>
                    <td>{{ vehicle.fuel }}</td>
                </tr>
            {% endif %}

            <tr>
                <th>Internnummer fra</th>
                <td>{{ vehicle.numlow }}</td>
            <tr>
                <th>Internummer til</th>
                <td>{{ vehicle.numhigh }}</td>
            </tr>

            {% if show_first_and_last %}
                <tr>
                    <th>Først sett</th>
                    <td>{{ first_seen.origin_departure_time }} {{ first_seen.line }}</td>
                </tr>
                <tr>
                    <th>Sist sett</th>
                    <td>{{ last_seen.origin_departure_time }} {{ last_seen.line }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>


    {% endif %}

    {% if logs.exists %}
        <h2>Sett p&aring; linjer</h2>
        {% for line in lines_seen.all %}
            <a href="{% url 'logs:line_log' line=line.id %}">{{ line }}</a><br/>
        {% endfor %}
        <h2>Avganger</h2>
        {% include 'vehicle_log/logs_table.html' with hide='vehicle' %}
    {% else %}
        <p>Ingen avganger registrert i år.<br/>Sist sett på linje {{ last_seen.line }}
            fra {{ last_seen.origin_quay_ref|quay_stop_name }} {{ last_seen.origin_departure_time }} </p>
    {% endif %}
{% endblock %}