{% load static %}
<!doctype html>
<html lang="no">
<head>
<meta charset="utf-8">
<title>{{ title|default:"" }}</title>
    <link href="{% static "sanntid/ruter.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "sanntid/css/sanntidpluss.css" %}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'sanntid/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'vehicle_type/vehicle_type.js' %}"></script>
</head>

<body>
{% block content %} {% endblock %}
</body>
</html>