{% extends 'sanntid/base.html' %}
{% load sanntid_tags %}
{% load rutedata_tags %}

{% block content %}
    {#  <pre>{{ departures|pprint|linebreaksbr }}</pre> #}
    <h1>{{ stop.Name }}</h1>
    <h2>{{ stop.TopographicPlace }}</h2>
    <section class="realtime">
    <ul id="departures">

    {% for quay_id, quay in departures.items %}
        <h3>Plattform {{ quay.quay.publicCode|default:"" }} {{ quay.quay.description|default:"" }}</h3>
        {% for line, destination in quay.destinations.items %}
        <li>
            {% if skin == 'trafikanten' %}
                <div class="heading">
                    <span class="numBox">{{ destination.line.publicCode }}</span>
                    <a class="status_link" href="{% url 'sanntid:active-vehicles' line=line|line_id %}">
                        <span class="departure">{{ destination.destination.frontText }}</span>
                    </a>
                </div>
            {% else %}
            <div class="heading" style="background: {{ line|color }}">
                <a class="status_link" href="{% url 'sanntid:active-vehicles' line=line|line_id %}">
                <span style="background: {{ line|color }}">{{ destination.line.publicCode }} {{ destination.destination.frontText }}</span></a>
            </div>
        {% endif %}
            <div class="list">
            {% for departure in destination.departures %}
                <span class="item">{{ departure.expectedDepartureTime|time }}
                {% if departure|delay %}
                    <span class="delay">{{ departure|delay }}</span>
                {% endif %}
                {% if departure.vehicle %}
                    (<span onclick="vehicle_type({{ departure.vehicle.vehicle }})">{{ departure.vehicle.vehicle|split_number }}</span><span>/{{departure.vehicle.block_ref_num }}</span>)
                {% endif %}
            </span>
            {% endfor %}
            </div>
        </li>
    {% endfor %}
    {% endfor %}
    </ul>
    </section>
{% endblock %}