{% extends 'sanntid/base.html' %}
{% load sanntid_tags %}

{% block content %}
    {#  <pre>{{ departures|pprint|linebreaksbr }}</pre> #}
    <h1>{{ stop.Name }}</h1>
    <h2>{{ stop.TopographicPlace }}</h2>
    <section class="realtime">
    <ul id="departures">

    {% for quay, lines in departures.items %}
        {% for line, quay_departures in lines.items %}
        <li>
            <div class="heading" style="background: {{ line|color }}">
                <a class="status_link" href="{% url 'sanntid:vehicles' line=line|line_id %}">
                <span style="background: {{ line|color }}">{{ line|line_num }}</span>
                <span class="time">{{ line|dest_text }}</span></a>
            </div>
            <div class="list">
            {% for departure in quay_departures %}
                <span class="item">{{ departure.expectedDepartureTime|time }}
                {% if departure|delay %}
                    <span class="delay">{{ departure|delay }}</span>
                {% endif %}
                {% if departure.vehicle %}
                    (<span>{{ departure.vehicle.vehicle|split_number }}/{{departure.vehicle.block_ref_num }}</span>)
                {% endif %}
            </span>
            {% endfor %}
            </div>
        </li>
    {% endfor %}
    {% endfor %}
    </ul>
    </section>
{% endblock %}